*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3rem;
  height: 2rem;
  position: fixed;
  inset: 0;
  z-index: 100;
  transition: background-color 500ms ease-in-out;
}
.navbar {
  flex-grow: 1;
  color: white;
  font-size: 1.3rem;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar button {
  border: 1px solid white;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.navbar button:hover {
  background: #0f172a;
  cursor: pointer;
  border: none;
}
@media (min-width: 900px) {
  .navbar ul {
    justify-content: flex-end;
    gap: 3rem;
  }
}
.hero {
  width: 100%;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 48px -48px 64px black, inset -48px 48px 64px black;
}
.hero-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.invert {
  background: #1e293b;
}

#about,
#features,
#lazy-features {
  margin: 2rem 0rem 2rem;
  padding: 3rem 2rem;
}
#about h1,
#about h3 {
  margin: 1rem;
}
.fade-in-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.6em;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.appear {
  opacity: 1;
}
#features,
#lazy-features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-container,
.lazy-container {
  width: 70%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
  margin-bottom: 6rem;
}
.grid:last-child {
  margin-bottom: 3rem;
}
.grid img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 812px) {
  .grid-left .grid-content {
    grid-row: 1;
  }
}
.slide-in > div {
  transition: opacity 100ms ease-in, transform 300ms ease-in;
}

.grid-left .img-container,
.grid-right .grid-content {
  transform: translateX(50%);
  opacity: 0;
}
.grid-right .img-container,
.grid-left .grid-content {
  transform: translateX(-50%);
  opacity: 0;
}
.appear .img-container,
.appear .grid-content {
  transform: translateX(0%);
  opacity: 1;
}

article h3 {
  font-size: 2rem;
  margin: 1.6em 0em;
  text-align: center;
}

.lazy-img-container img {
  min-height: 50px;
}
@media (min-width: 812px) {
  .grid-left .lazy-grid-content {
    grid-row: 1;
  }
}
